:root {
  --font-family-primary:  sans-serif;
  --font-family-header: Neutral Face;
  --font-family-text:  Arial;



  // font sizes
  --font-size-xs: 10px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 32px;
  --font-size-mega: 40px;
  --font-size-megaPlus: 80px;

  // line heights
  --line-height-m: 120%;
  --line-height-l: 130%;

  // font weights
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}